.side-nav {
  width: 240px;
  background-color: #091730;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 100dvh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  transition: width 300ms;
}

.side-nav.collapsed {
  width: 100px;
}

.nav-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.menu-title {
  margin: 0px;
  margin-left: 10px;
  transition: opacity 300ms;
}

.side-nav.collapsed .menu-title {
  opacity: 0;
  display: none; /* Ocultar el título cuando el menú está colapsado */
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.side-nav .nav-item {
  padding: 15px;
  margin: 35px 0;
  background-color: #091730;
  text-align: left;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 300ms;
  display: flex;
  align-items: center;
  height: 20px;
}

.side-nav .nav-item:hover {
  background-color: #ffffff;
}

.side-nav .nav-item:hover a {
  color: #091e46;
}

.side-nav .nav-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
}

.side-nav .nav-item a i {
  margin-right: 10px;
}

.side-nav.collapsed .menu-text {
  visibility: hidden;
}

.side-nav.collapsed .logout {
  width: 100px;
}

.side-nav .logout {
  margin-top: auto;
  width: 120%;
  padding: 15px;
  background-color: #0e2650;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  bottom: 0;
  transition: background-color 300ms;
}

.side-nav .logout a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
}

.side-nav .logout a i {
  margin-right: 10px;
}

.logout:hover {
  background-color: #133775;
}

.logomenu {
  width: 30px;
  height: 30px;
  margin: 0;
}
@media (max-width: 767px) {
  .side-nav {
      position: fixed;
      width: 70px;
      padding-left: 5px !important;
      background-color: transparent;
      top: 0;
      transition: 250ms ease; /* Transición en el estado base */
      z-index: 1025;
      overflow: scroll; /* Oculta el contenido que se desborda */
  }
  
  .side-nav.collapsed {
      background-color: #091730;
      width: 240px; /* Ancho expandido */
  }

  .menu-icon {
      display: block;
      cursor: pointer;
  }

  .side-nav.collapsed .nav-header,
  .side-nav.collapsed .nav-item,
  .side-nav.collapsed .menu-title {
      opacity: 1; /* Visible cuando está expandido */
  }

  .side-nav.collapsed .nav-item {
      transform: translateX(0); /* Mueve los elementos a su posición original */
  }

  .side-nav.collapsed .menu-text {
      visibility: visible;
  }

  .side-nav.collapsed .logout,
  .side-nav.collapsed .menu-title {
      display: flex;
      width: 300px;
  }

  .side-nav.collapsed .nav-item .menu-text {
      display: inline-block;
      padding: 15px 0;
  }

  /* Ocultar el contenido del div asd cuando el side-nav está colapsado */
  .side-nav:not(.collapsed) .asd {
      display: none;
  }

  .side-nav:not(.collapsed) .logout {
      display: none;
  }

  /* Mostrar solo el ícono de menú cuando el side-nav está colapsado */
  .side-nav:not(.collapsed) .nav-header {
      display: block;
  }

  .side-nav:not(.collapsed) .nav-header .menu-icon {
      display: block;
  }

  .side-nav:not(.collapsed) .nav-header .menu-title,
  .side-nav:not(.collapsed) .nav-header img {
      display: none;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    z-index: 999; /* Asegura que esté por encima de todo */
  }
}