.App {
  display: flex;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden; /* Nueva línea */
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* importante para prevenir scroll lateral */
}

.main-content {
  flex: 1; /* ¡esto hace magia! ocupa el espacio restante */
  min-width: 0; /* clave para evitar overflow si hay texto largo o grids */
  overflow-x: hidden;
}